@page "/films"

@using StarWarsBlazor.Data
@using StarWarsBlazor.Data.RootObjects
@using System.Net.Http
@using Newtonsoft.Json
@inject HttpClient Http
@inject StarWarsBlazor.Services.FilmService FilmService

    <div class="container">
        @if (films.Count == 0)
        {
            <div class="w-100 my-3">
                <div class="loader mx-auto"></div>
            </div>
        }
        else
        {
            <div class="p-3">
                <input class="form-control bg-dark" id="filter" type="text" @bind-value="filter" @bind-value:event="oninput" placeholder="Search...">
            </div>

            <div class="row">
                @foreach (var f in films)
                {
                    if (filter == "" || f.title.Contains(filter, StringComparison.OrdinalIgnoreCase))
                    {
                        <a class="card my-card m-1 bg-dark-opacity" data-toggle="modal" data-target="#filmModal" @onclick="@(() => SetCurrentFilm(f.url))">
                            <div class="row no-gutters">
                                <div class="col-4">
                                    <img class="card-img my-card-img" src="@f.img_url">
                                </div>
                                <div class="col-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@f.title</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>

            @*<button @onclick="ToggleContent">Toggle raw json</button>
            <p>@filmsJson</p>*@

            <div class="modal fade" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="filmModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <img src="@currentFilm.img_url" style="height:50px" />
                            <h5 class="modal-title ml-2" id="exampleModalLabel">@currentFilm.title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Director: @currentFilm.director <br />
                            Producer: @currentFilm.producer <br />
                            Opening crawl:<br /> @currentFilm.opening_crawl <br />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

@code {
    public List<Film> films = new List<Film>();
    public Film currentFilm = new Film();
    public string filter = "";
    private string filmsJson = "";


    protected override async Task OnInitializedAsync()
    {
        films = await FilmService.GetFilms();
        await setAllImages();
    }

    private async Task setAllImages()
    {
        var url = "https://localhost:44334/api/filmimage";
        var response = await Http.GetAsync(url);
        var stream = await response.Content.ReadAsStringAsync();
        var rootObject = JsonConvert.DeserializeObject<List<RootImageObject>>(stream);

        foreach (var film in films)
        {
            film.img_url = rootObject.Find(x => x.SwapiUrl == film.url)?.ImageUrl;
        }
    }

    private void SetCurrentFilm(string url)
    {
        currentFilm = FilmService.GetFilm(url);
    }

    private void ToggleContent()
    {
        if (filmsJson == "")
        {
            filmsJson = FilmService.GetFilmsJson();
        }
        else
        {
            filmsJson = "";
        }
    }
}
